<ion-content padding>
  <ion-item *ngIf="meterloaddetails">
    <ion-segment>
      <ion-segment-button (click)="dailyConsumptionChart(1)">
        1 Day
      </ion-segment-button>
      <ion-segment-button (click)="dailyConsumptionChart(7)">
        7 Days
      </ion-segment-button>
      <ion-segment-button (click)="dailyConsumptionChart(30)">
        30 Days
      </ion-segment-button>
      <ion-segment-button (click)="dailyConsumptionChart(90)">
        90 Days
      </ion-segment-button>
    </ion-segment>
    <chart [options]='chartOptionsday' type='chart'></chart>
  </ion-item>

  <ion-item *ngIf="loadSurvey">
    <button (click)="getPreviousDayData()">
         <ion-icon name="arrow-back"></ion-icon>
        </button>
    <button type="button" class="btn btn-default btn-sm" (click)="getNextDayData()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
    <chart [options]='chartOptionsday1' type='chart'></chart>
  </ion-item>
</ion-content>