<!--
  Generated template for the MeterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Meter Details</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-tabs tabsPlacement="top">
    <ion-tab [root]='meteroverview' [rootParams]="meterid" tabTitle='Overview'></ion-tab>
    <ion-tab [root]='meterdayview' [rootParams]="meterid" tabTitle='Day View'></ion-tab>
    <ion-tab [root]='meterweekview' [rootParams]="meterid" tabTitle='Week View'></ion-tab>
  </ion-tabs>
</ion-content>