<ion-header>
  <ion-navbar>
    <ion-title>Meter Data List</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="meters !== false">
  <ion-row>
    <ion-col class="custom-line">
      <strong>Serial</strong>
    </ion-col>
    <ion-col class="custom-line">
      <strong>Latest Download Date</strong>
    </ion-col>
    <ion-col class="custom-line">
      <strong>Total</strong>
    </ion-col>
    <ion-col class="custom-line">
      <strong>CMRI ID</strong>
    </ion-col>

  </ion-row>
  <ion-row *ngFor="let meter of meters">
    <ion-col class="custom-line"> <a style="cursor:pointer;" tooltip="Edit Meter Details" (click)="DetailMeterData(meter._id)">
      {{meter._id}}</a></ion-col>
    <ion-col class="custom-line" *ngIf="meter.timeAgo.length > 0 ">{{timeAgo(meter.timeAgo[0])}} ago</ion-col>
    <ion-col class="custom-line">{{meter.count}}</ion-col>
    <ion-col class="custom-line"> </ion-col>
  </ion-row>
</ion-content>