.ios, .md {
 
    login-page {

        #login {
        background: #1c2627;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
        ion-content {
            background-color: #f5f5f5;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
             box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
			position: relative!important;
             .scroll-content{
                     display: table !important;
                    width: 100% !important;
                    height: 100% !important;
             }
			 .error-msgs{
			 color:red;
			 }
             .login-form{
                display: table-cell;
                vertical-align: middle;
                 .header {
                    padding-bottom: 20px;

                    img {
                    display: block;
                    width: 40px;
                    margin: 0 auto;
                    }
                }
             }

        }
 
        scroll-content {
            display: flex;
            flex-direction: column;
        }
 
        ion-row {
            align-items: center;
            text-align: center;
        }
 
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            opacity: 0.7;
            font-size: 0.9em;
        }
 
        ion-list {
            margin: 0;
        }
 
        .login-logo {
            flex: 2;
        }
 
        .login-form {
            flex: 1;
        }
        .login-button {
            border-radius: 30px;
            font-size: 0.9em;
            background-color: transparent;
            border: 1px solid #fff;
            margin-top:25px;
            color:#fff;
        }
 
    }
 
}

.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}