<ion-content id="login" padding="true" scroll="true">

  <ion-row class="login-form">
    <ion-col>
      <div class="header padding text-center">
        <img src="assets/img/logo.png" alt="Your logo here" />
      </div>
      <p class="error-msgs">{{errormsg}}</p>
      <ion-list inset>

        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email" placeholder="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
        </ion-item>
        <button ion-button full (click)="login()" color="primary" class="login-button button button-block button-positive">Login</button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>