
<ion-content padding>
  <ion-item *ngIf="meterdetails">
    <button (click)="getPreviousDayData()">
         <ion-icon name="arrow-back"></ion-icon>
        </button>
    <button type="button" class="btn btn-default btn-sm" (click)="getNextDayData()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
    <chart [options]='chartOptions' type='chart'></chart>
  </ion-item>
</ion-content>