page-meter-week-view {
	.highcharts-container {
		width:100%!important;
		height: auto!important;
		    padding-top: 40px;
			svg.highcharts-root{
				width:100%!important;
				height: auto!important;
			}
	}

}
