<!--
  Generated template for the MeterOverview page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

  <ion-navbar>
    <ion-title>meterOverview</ion-title>
  </ion-navbar>

</ion-header-->




<ion-content padding>
  <ion-item *ngIf="meterserialno">
    <ion-row>
      <ion-col>
        <strong>Serial:</strong>
      </ion-col>
      <ion-col>
        {{meterserialno}}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="metercumkwh">
      <ion-col>
        <strong>Cum Kwh:</strong>
      </ion-col>
      <ion-col>
        {{metercumkwh}}
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>